.root {
    -fx-background-color: white;
}

.title {
    -fx-font-size: 18;
    /*-fx-font-weight: BOLD;*/
    -fx-font-family: "Calibri";
    -fx-text-fill: GRAY
}

.text-field {
    -fx-border-color: #b0b0b0;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.text-field:focused {
    -fx-border-color: #ff3030;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #eaeaea;
}